body
{
	background-color: rgb(255,0,255);
}
h1
{
	text-align: center;
	border: 1px solid white;
	border-width: 40px;
	color: white;
	font-size: 400%;
	font-family: courier;

}
#po1
{
	color: navy;
	font-size: 200%;
	font-family: verdana;
	border: 1px solid block;
	margin: 30px;
	padding: 10px;
}
#po2
{
	color: solid black;
	font-size: 700%;
	font-family: courier;
}